 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><a href="{{ site.url }}">sonarplugins.com</a> is just a website where you can find SonarQube plugins to extend your SonarQube installation with awesome features. </p>
                    <p>We don't have any responsibility about the plugins listed here.</p>
                    <p>This is just a plugin compilation site.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you have developed a SonarQube plugin (either free or commercial) and you want to make it public in this list, please, contact us!
                    </p>
                </div>
            </div>
        </div>
    </section>
