<!-- Contact Section -->
   <section id="contact" style="background-color: rgb(252, 252, 253)">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <h3>Leave a comment or review</h3>
                   <hr class="star-primary">
               </div>
           </div>
           <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                 <div id="disqus_thread"></div><!-- /#disqus_thread -->
               </div>
           </div>
       </div>
   </section>
