 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <!--img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"-->
                            <p>{{ post.description }}</p>
                            
                            <p>{{ post.details }}</p>
                            
                            <p><a href="{{ post.homepage }}" target="_blank">{{ post.homepage }}</a></p>
                            
                            <ul class="list-inline item-details">
                                <li>Organization:
                                    <strong><a href="{{ post.organization_url }}" target="_blank">{{ post.organization }}</a>
                                    </strong>
                                </li>
                                <li>Last update:
                                    <strong>{{ post.download_date }}
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong>{{ post.category }}
                                    </strong>
                                </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li>Developers: 
                                        <strong>{{ post.developers }}</strong>
                                    </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li>License: 
                                        <strong>{{ post.license }}</strong>
                                    </li>
                            </ul>
                            
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="{{ post.download_url }}" class="btn btn-lg btn-default">
                                    <i class="fa fa-download"></i> Download version {{ post.download_version }}
                                </a>
                            </div>
                            
                            <ul class="list-inline item-details">
                                    <li> 
                                        {{ post.download_description }}
                                    </li>
                            </ul>
                            
                            <!--button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}