
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Index</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
            {% assign rows = site.posts.size | divided_by: 3.0 | ceil %}
            {% for i in (1..rows) %}
            {% assign offset = forloop.index0 | times: 3 %}
            <div class="row">
                {% for post in site.posts limit:3 offset:offset %}
                    <div class="col-sm-4 portfolio-item">
                        
                        <a href="{{ post.url }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <div>
                                <h3>{{ post.title }}</h3>
                                <span class=style="color: green">{{ post.download_date }}</span>
                                <p>{{ post.description }}</p>
                                <h5 class="label label-success">{{ post.category }}</h5>
                                {% if post.license == "Commercial" %}
                                <h5 class="label label-danger">
                                    {{ post.license }}
                                </h5>
                                {% endif %}
                            </div>                            
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>
