<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="text-center">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <a href="javascript:history.go(-1)">Back to index</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        <div style="padding-top: 150px">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h1>{{ page.title }}</h1>
                            <hr class="star-primary">
                            <!--img src="img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}"-->
                            <p>{{ page.description }}</p>
                            
                            <p>{{ page.details }}</p>
                            
                            <p><a href="{{ page.homepage }}" target="_blank">Go to plugin homepage</a></p>
                            
                            <ul class="list-inline item-details">
                                <li>Organization:
                                    <strong><a href="{{ page.organization_url }}" target="_blank">{{ page.organization }}</a>
                                    </strong>
                                </li>
                                <li>Last update:
                                    <strong>{{ page.download_date }}
                                    </strong>
                                </li>
                                <li>Category:
                                    <strong>{{ page.category }}
                                    </strong>
                                </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li>Developers: 
                                        <strong>{{ page.developers }}</strong>
                                    </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li>License: 
                                        <strong>{{ page.license }}</strong>
                                    </li>
                            </ul>
                            
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="{{ page.download_url }}" class="btn btn-lg btn-default">
                                    <i class="fa fa-download"></i> version {{ page.download_version }}
                                </a>
                            </div>
                            
                            <ul class="list-inline item-details">
                                    <li> 
                                        {{ page.download_description }}
                                    </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include contact_disqus.html %}

    {% include footer.html %}
    {% include js.html %}
    {% include js_disqus.html %}
    </body>
</html>
