<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="text-center">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form action="/search.html" method="get" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                      <input type="text" id="search-box" name="query" class="form-control" placeholder="Search plugins" required data-validation-required-message="Please enter a term to search.">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#portfolio">Index</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
        <div style="padding-top: 150px">
        <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h1>{{ page.title }}</h1>
                            <hr class="star-primary">
                            <ul class="list-inline item-details">
                                <li>
                                    <a href="/search.html?query={{ page.category }}"><h5 class="label label-success">{{ page.category }}</h5></a>
                                </li>
                                <li>
                                    {% if page.license == "Commercial" %}
                                        <a href="/search.html?query={{ page.license }}">
                                            <h5 class="label label-danger">
                                                {{ page.license }}
                                            </h5>
                                        </a>
                                    {% else %}
                                        <a href="/search.html?query={{ page.license }}">
                                            <h5 class="label label-primary">
                                                {{ page.license }}
                                            </h5>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                            <!--img src="img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}"-->
                            <p>{{ page.description }}</p>
                            
                            <p>{{ page.details }}</p>
                            
                            <p><a href="{{ page.homepage }}" target="_blank">Go to plugin homepage</a></p>
                            
                            <ul class="list-inline item-details">
                                <li>Organization:
                                    <strong><a href="{{ page.organization_url }}" target="_blank">{{ page.organization }}</a>
                                    </strong>
                                </li>
                                <li>Last update:
                                    <strong>{{ page.download_date }}
                                    </strong>
                                </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li>Developers: 
                                        <strong>{{ page.developers }}</strong>
                                    </li>
                            </ul>
                            
                            <ul class="list-inline item-details">
                                    <li> 
                                        Compatibility: <strong>{{ page.sonarqube_version }}</strong>
                                    </li>
                            </ul>
                            
                            <div class="col-lg-8 col-lg-offset-2 text-center">
                                <a href="{{ page.download_url }}" class="btn btn-lg btn-default">
                                    <i class="fa fa-download"></i> version {{ page.download_version }}
                                </a>
                            </div>
                            
                            <ul class="list-inline item-details">
                                    <li> 
                                        {{ page.download_description }}
                                    </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% include contact_disqus.html %}

    {% include footer.html %}
    {% include js.html %}
    {% include js_disqus.html %}
    </body>
</html>
